
/*************************
*******Typography******
**************************/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
  height: 100%;
  scroll-behavior: smooth !important;
}
body {
  
  position: relative;
  font-weight:400px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html, body, div, h1, h2, h3, h4, h5, h6, form {
  width: 100%;
}

h1 {
  color: #28ace2;
}

h1.title.text-center {
    font-size: 1.6em;
}

h2.h2 {
  font-size: 22px;
}

.main-content {
  flex: 1;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus, a:active {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
  float: left;
  cursor: pointer;
}

a#scrollUp {
	bottom: 25px;
	right: 30px;
	padding: 5px 10px;
	background: rgb(14, 140, 228);
	color: #fff;
	box-shadow: #fff 3px 3px 7px;
}

a#scrollUp i.fa.fa-angle-up {
  font-size: 35px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 white;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #696763;
  
}


.contactinfo ul li a:hover{
	background:inherit;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding:0px;
}


.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}

.fa-linkedin:hover  {
	background:#FF4518;
}

.fa-dribbble:hover  {
	background:#90C9DC;
}

.fa-google-plus:hover  {
	background:#CE3C2D;
}

.header-middle .container .row {
  /* border-bottom: 1px solid #f5f5f5; */
  margin: 0;
  padding: 5px 0;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}

.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
	background:rgb(14, 140, 228);
	color:#fff;
	border-color:rgb(14, 140, 228);
}

.usa:active, .usa.active {
  background: none repeat scroll 0 0 rgb(14, 140, 228);
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: rgb(14, 140, 228);
  color: #FFFFFF;
  
  text-decoration: none;
}


.shop-menu ul li {
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-left: 2.5em;
}


.shop-menu ul li a {
  color: #696763;
  font-size: 16px;
  font-weight: 400;
  padding:0;
  padding-right: 0;
  margin-top: 21px;
}


.shop-menu ul li a i{
	margin-right:3px;
}


.shop-menu ul li a:hover {
	color:rgb(14, 140, 228);
	background:#fff;
}


.header-bottom {
  /* padding-bottom: 10px; */
  /* padding-top: 10px; */
  background: white;
  margin: 10px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  color: #212529;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu {
  margin-top: 6px;
  float: right !important;
}

.mainmenu ul li{
  padding-right: 10px;
  padding-left: 10px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #212529;
	
	font-size: 20px;
	font-weight: 400;
	padding: 10px 0;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#0e8ce4;
}
.search_box {
  margin: 8px 0;
}
.search_box input {
  /*background: #f0ecff;
  border: medium none;*/
  color: #B2B2B2;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
}


/*  Dropdown menu*/

.navbar-header
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: #6db969;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 250px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li a:active{
  color: #000000;
  padding-left: 0;
}

.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #000000;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #000000;
}

.fa-angle-down{
  padding-left: 5px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*************************
*******Footer CSS******
**************************/

#footer {
  background: rgb(38, 43, 47);
  padding: 1rem 0;
  margin-top: 5rem;
}


.footer-top .container {
  border-bottom: 1px solid #E0E0DA;
  padding-bottom: 20px;
}

.companyinfo {
  margin-top: 57px;
}

.companyinfo h2 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 27px;
  text-transform: uppercase;
}

.companyinfo h2  span{
  color:rgb(14, 140, 228);
}

.companyinfo p {
  color: #B3B3AD;
  
  font-size: 12px;
  font-weight: 400;
}

.footer-top .col-sm-3{
  overflow: hidden;
}

.video-gallery {
  margin-top: 57px;
  position: inherit;
}

.video-gallery a img {
  height: 100%;
  width: 100%;
}

.iframe-img {
  position: relative;
  display: block;
  height: 61px;
  margin-bottom: 10px;
  border: 2px solid #CCCCC6;
  border-radius: 3px;
}

.overlay-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 61px;
  background: rgb(14, 140, 228);
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  line-height: 0;
  display: block;
  opacity: 0;
   -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
  position: relative;
  top: 50%;
  margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
  opacity: 1;
}

.video-gallery p {
  color: #8C8C88;
  
  font-size: 12px;
  font-weight: 500;
  margin-bottom:0px;
}

.video-gallery  h2 {
  color: #8c8c88;
  
  font-size: 12px;
  font-weight: 400;
  text-transform:uppercase;
  margin-top:0px;
}


.address {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.address  img {
	width:100%;
}

.address p {
  color: #666663;
  
  font-size: 14px;
  font-weight: 400;
  left: 25px;
  position: absolute;
  top: 50px;
}

.footer-widget {
  padding-bottom: 35px;
  color: white;
  font-family: Karla;
}

.footer-widget .container {
  padding-top: 15px;
}

.single-widget h2 {
  color: white;
  
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: white;
	
	font-size: 17px;
	font-weight: 400;
	padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:rgb(14, 140, 228);
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: #CCCCC6;
  
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: rgb(14, 140, 228);
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover,
.searchform  button:focus{
	background-color:rgb(14, 140, 228);
}

.searchform p {
  color: #8C8C88;
  
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}

.footer-bottom {
  padding-top: 10px;
  color: white;
  padding-bottom: 20px;
}

.footer-bottom p {
  font-family: Karla;
  font-weight: 400;
  margin-left: 15px;
  font-size: 16px;
}

.footer-bottom p span a {
  color: rgb(14, 140, 228);
  font-style: italic;
  text-decoration: underline;
}


/*************************
******* Home ******
**************************/


#slider {
  padding-bottom: 45px;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
	  background: rgb(14, 140, 228);
}

.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.girl {
  margin-left: 0;
}

.item h1 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 48px;
  margin-top: 115px;
}

.item h1 span {
	color:rgb(14, 140, 228);
}

.item h2 {
  color: #363432;
  
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

.item  p {
	color:#363432;
	font-size:16px;
	font-weight:300;
	
}

.get {
  background: rgb(14, 140, 228);
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  
  font-size: 16px;
  font-weight: 400;
  margin-top: 23px;
}


.item button:hover {
  background: rgb(14, 140, 228);
}

.control-carousel {
  position: absolute;
  top: 40%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover{
  color: rgb(14, 140, 228) ;
}

.right {
  right: 0;
}

.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.left-sidebar h2, .brands_products h2 {
  color: rgb(14, 140, 228);
  
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}
.about-sidebar h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto 50px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}
.left-sidebar h2::after, h1.title::after, h2.title::after {
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.about-sidebar h2::after, h1.title::after, h2.title::after {
	content: " ";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h2::before {
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h1.title::before, h2.title::before {
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.divider {
  border: 1px solid #f3f3f3;
	width: 100%;
  margin-top: 25px;
	z-index: -2;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .about-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 8px 0px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}


.panel-body ul li a {
  color: #696763;
  
  font-size: 12px;
  text-transform: uppercase;
}

.brands-name {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}

.nav-stacked li {
  font-size: 20px;
}

.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;
  
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #696763;
}

.shipping {
  background-color: #F2F2F2;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}


.price-range{
  margin-top:30px;
}

.well {
  background-color: #FFFFFF;
  border: 1px solid #F7F7F0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}


.tooltip-inner {
  background-color: rgb(14, 140, 228);
  border-radius: 4px;
  color: #FFFFFF;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}

.tooltip.top .tooltip-arrow {
  border-top-color: rgb(14, 140, 228);
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}


.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h1.title, h2.title {
  color: rgb(14, 140, 228);
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper {
  border: 1px solid #b3b3a8;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: white;
}

.product-image-wrapper:hover {
  box-shadow: 0px 0px 20px rgba(9, 130, 223, 0.5);
}

.product-image-wrapper:hover p {
  color: rgb(9, 130, 223) !important;
}

.product-image-wrapper p {
  margin: 10px 0;
  color: #696763;
}

.price {
  text-align: center;
  margin-bottom: 10px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: rgb(14, 140, 228);
	
	font-size: 24px;
	font-weight: 700;
}

.product-name-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-ads-container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productinfo p{
  
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  max-width: 100%; /* This if for the object-fit */
  max-height: 200px;
  margin: auto;
}
.productinfo .product-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.productinfo{
  position:relative;
}

.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: rgb(14, 140, 228);
  color: #FFFFFF !important;
}

.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;
  
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

/*.choose ul li a i{
  margin-right:5px;
  color: #4db848;
	background-image: -webkit-linear-gradient(92deg, #4db848, #28ace2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear alternate;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}*/

.choose ul li a i {
  margin-right:5px;
  color: #4db848;
  
  /* background: linear-gradient(to right, #4db848 20%, #28ace2 40%, #28ace2 60%, #4db848 80%);
  background-size: 200% auto;
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite; */
}

.choose ul li a i:hover{
  color: #28ace2;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.choose ul li a:hover{
	background:none;
	color:rgb(14, 140, 228);
}

.category-tab {
  overflow: hidden;
}
.category-tab > ul {
  background: #40403E !important;
}
.category-tab ul {
  border-bottom: 1px solid rgb(14, 140, 228);
  margin: 0 0 30px;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;
  
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
	background:rgb(14, 140, 228);
	color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: rgb(14, 140, 228);
  border:0px;
  color: #FFFFFF;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}

.recommended_items {
  overflow: hidden;
  background-color: rgba(14, 140, 228, 0.1);
  padding: 3rem 0;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 rgb(14, 140, 228);
  color: #FFFFFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

.our_partners{
  overflow:hidden;
}

.our_partners ul {
  background: #F7F7F0;
  margin-bottom: 50px;
}


.our_partners ul li a:hover{
	background:none;
}

/*************************
*******Shop CSS******
**************************/


#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: rgb(14, 140, 228);
  border-color: rgb(14, 140, 228);
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: white;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:rgb(14, 140, 228);
	color:#fff;
}



/*************************
*******Product Details CSS******
**************************/

.product-details{
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
  font-size: 16px;
  color: #878787;
  line-height: 1.8;
}


#similar-product {
  margin-top: 0px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: auto;
  width: 100%;
  max-width: 400px !important;
}

.view-product h3 {
  background: rgb(14, 140, 228);
  bottom: 0;
  color: #FFFFFF;
  
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item{
	padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: rgb(14, 140, 228);
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
	background:#ccccc6;
}

.product-information {
  border: 2px solid #DDD;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  padding: 26px 32px;
  position: relative;
}

#product-detail-price span{
  font-size: 25px;
}

.newarrival{
	position:absolute;
	top:0;
  left:0;
  z-index: 2;
}

.product-information h2 {
  color: #363432;
  
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.product-information .label {
  float: left;
  font-size: 18px;
  font-weight: 600;
  color: #696763;
  margin-top: .5rem;
}

.product-information .content {
  width: 100%;
  padding-left: 10%;
  float: left;
}

.share {
  margin-top: 15px;
}

.cart {
  color: #FFFFFF;
  
  width: 100%;
  border-radius: 30px !important;
  padding: .75rem;
  font-size: 18px;
}

.product-review-tab {
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.shop-details-tab {
  border: 1px solid #F7F7F0;
  margin-bottom: 75px;
  margin-top: 3rem;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}

.shop-details-tab .nav {
  display: flex;
}

#reviews ul {
  background: #FFFFFF;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews  ul  li {
	display:inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i{
	color:rgb(14, 140, 228);
	padding-right:8px;
}

#reviews ul li a:hover{
	background:#fff;
	color:rgb(14, 140, 228);
}

#reviews p{
	color:#363432;
}

#reviews  form span {
  display: block;
}

#reviews form span input {
  background:white;
  border: 0 none;
  color: #A6A6A1;
  
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}
#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: white;
  border: medium none;
  color: #A6A6A1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: rgb(14, 140, 228);
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  
  font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 h1 {
  color: #363432;
  
  font-size: 41px;
  font-weight: 400;
}

.content-404 img {
 margin:0 auto;
}

.content-404 p {
  color: #363432;
  
  font-size: 18px;
}

.content-404  h2 {
  margin-top:50px;
}

.content-404 h2 a {
  background: rgb(14, 140, 228);
  color: #FFFFFF;
  
  font-size: 44px;
  font-weight: 400;
  padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}

.login-form h2, .signup-form h2 {
  color: #696763;
  
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.login-form-container {
  background: url('') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10rem 0;
}

.login-form form input, .signup-form form input,.signup-form form select {
  background: transparent;
  /* border: medium none; */
  color: #696763;
  display: block;
  
  font-size: 16px;
  font-weight: 400;
  /* height: 40px; */
  margin-bottom: 15px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button, .signup-form form button {
  background: rgb(14, 140, 228);
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  
  padding: 6px 25px;
}

.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

div.or {
    background: #2a9525;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    height: auto;
    line-height: 50px;
    margin: 8% auto;
    margin-top: 55px;
    text-align: center;
    width: 3.2em;
    position: relative;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
  margin-bottom: 50px;
}

.breadcrumbs {
  position: relative;
  margin: 2rem 0;
}

.breadcrumbs .breadcrumb {
  background:transparent;
  padding-left: 0;
  margin: 5px 15px;
  font-size: 1.5rem;
  display: inline;
}

.breadcrumbs .breadcrumb li a {
  background:rgba(14, 140, 228);
  color: #ffffff;
  padding: 0.6rem 1.5rem;
}

.breadcrumbs .breadcrumb li a:after {
  content:"";
  height:auto;
  width: auto;
}

.breadcrumbs .breadcrumb .active {
  color: #212529;
}
.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
  background: rgb(14, 140, 228);
  color: #fff;
  font-size: 16px;
  
  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}


#cart_items .cart_info .image {
  padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: #363432;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;

}

#cart_items .cart_info .cart_description p {
  color:#696763
}


#cart_items .cart_info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart_info .cart_total_price {
  color: rgb(14, 140, 228);
  font-size: 24px;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
  background:white;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
}


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;

}


.cart_delete  {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}


.cart_delete a {
  background:white;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:rgb(14, 140, 228)
}


.bg h2.title {
  margin-right:0;
  margin-left:0;
  margin-top: 0;
}

.heading h3 {
  color: #363432;
  font-size: 20px;
  
}

.heading p {
  color: #434343;
  font-size: 16px;
  font-weight: 400;
}


#do_action .total_area {
  padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
  border: 1px solid #E6E4DF;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}

.total_area span {
  float: right;
}

.total_area ul li {
  background:#E6E4DF;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}


.user_option label {
  color: #696763;
  font-weight: normal;
  margin-left: 10px;
}


.user_info {
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
  overflow: hidden;
}

.user_info label {
  color: #696763;
  display: block;
  font-size: 15px;
  font-weight: normal;

}

.user_info .single_field {
  width: 31%
}

.user_info .single_field.zip-field input {
  background: transparent;
  border: 1px solidwhite
}

.user_info > li {
  float: left;
  margin-right: 10px
}

.user_info input, select, textarea {
	background: rgb(14, 140, 228);
    border: 0;
    color: #fff;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none;
    margin-top: 1.3em;
}

.user_info select:focus {
  border: 0
}


.chose_area .update {
  margin-left: 40px;
}

.update, .check_out {
  background: rgb(14, 140, 228);
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}
.update{
    margin-left: 40px;
}

.check_out {
  margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
  margin-bottom: -10px
}

.register-req, .step-one .heading {
  background: none repeat scroll 0 0 white;
  color: #363432;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;
  
}

.checkout-options {
  padding-left: 20px
}


.checkout-options h3 {
  color: #363432;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
  
}

.checkout-options p {
  color: #434343;
  font-weight: 400;
  margin-bottom: 25px;
}

.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: #696763;
  font-size: 18px;
  
  font-weight: normal;
}

.checkout-options .nav label {
  font-weight: normal;
}

.checkout-options .nav li a {
  color: rgb(14, 140, 228);
  font-size: 18px;
  font-weight: normal;
  padding: 0
}

.checkout-options .nav li a:hover {
  background: inherit;
}

.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: rgb(14, 140, 228);
  color:#fff;
  font-size: 14px;
  padding: 2px 3px;
}


.register-req  {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;
  margin-top: 35px;

}

.register-req p {
  margin-bottom: 0
}



.shopper-info p,
.bill-to p,
.order-message p {
  color: #696763;
  font-size: 20px;
  font-weight: 300
}


.shopper-info .btn-primary {
  background: rgb(14, 140, 228);
  border: 0 none;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 20px;
}


.form-two, .form-one {
  float: left;
  width: 47%
}


.shopper-info > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
  background:white;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}

.form-two > form > select {
  padding:10px 5px
}

.form-two {
  margin-left: 5%
}


.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.order-message label {
  font-weight:300;
  color: #696763;
  
  margin-left: 10px;
  font-size: 14px
}


.review-payment h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 20px
}

.payment-options {
  margin-bottom:125px;
  margin-top: -25px
}

.payment-options span label {
  color: #696763;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
}

#cart_items .cart_info
.table.table-condensed.total-result {
  margin-bottom: 10px;
  margin-top: 35px;
  color: #696763
}

#cart_items .cart_info
.table.table-condensed.total-result tr {
  border-bottom: 0
}

#cart_items .cart_info
.table.table-condensed.total-result span {
  color: rgb(14, 140, 228);
  font-weight: 700;
  font-size: 16px
}

#cart_items .cart_info
.table.table-condensed.total-result
.shipping-cost {
  border-bottom: 1px solid #F7F7F0;
}




/*************************
*******Blog CSS******
**************************/



.blog-post-area
.single-blog-post h3 {
  color: #696763;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 17px;
}

.blog-post-area
.single-blog-post a img {
  border: 1px solid #F7F7F0;
  width: 100%;
  margin-bottom: 30px
}

.blog-post-area
.single-blog-post p {
  color: #363432
}

.blog-post-area
.post-meta {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog-post-area
.post-meta ul {
  padding:0;
  display: inline;
}

.blog-post-area
.post-meta ul li {
  background:white;
  float: left;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 11px;
  color: #393b3b;
  position: relative;
}

.blog-post-area
.post-meta ul li i {
  background:rgb(14, 140, 228);
  color: #FFFFFF;
  margin-left: -4px;
  margin-right: 7px;
  padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area
.post-meta ul li i:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-color:transparent transparent transparent rgb(14, 140, 228);
  border-width:4px;
  border-style: solid;
  top:6px;
  left:24px
}

.blog-post-area
.post-meta ul span {
  float: right;
  color: rgb(14, 140, 228)
}

.post-meta span{
    float: right;
}

.post-meta span i{
  color: rgb(14, 140, 228)
}


.blog-post-area
.single-blog-post
.btn-primary {
  background:rgb(14, 140, 228);
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 17px;
}


.pagination-area {
  margin-bottom:45px;
  margin-top:45px
}

.pagination-area
.pagination li a {
  background:white;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  margin-right: 5px;
  padding: 4px 12px;
}

.pagination-area
.pagination li a:hover,
.pagination-area
.pagination li .active {
  background:rgb(14, 140, 228);
  color: #fff
}



/*************************
*******Blog Single CSS******
**************************/

.pager-area {
  overflow: hidden;
}

.pager-area .pager li a {
  background:white;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  text-transform: uppercase;
  width: 57px;
}

.pager-area
.pager li a:hover {
  background: rgb(14, 140, 228);
  color: #fff
}

.rating-area {
  border: 1px solid #F7F7F0;
  direction: block;
  overflow: hidden;
}

.rating-area ul li {
  float: left;
  padding: 5px;
  font-size: 12px
}

.rating-area .ratings {
  float: left;
  padding-left: 0;
  margin-bottom: 0
}


.rating-area
.ratings li i {
  color:#CCCCCC
}

.rating-area .rate-this {
  color: #363432;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-area
.ratings .color,
.rating-area .color {
  color: rgb(14, 140, 228)
}


.rating-area .tag {
  float: right;
  margin-bottom: 0;
  margin-right: 10px;
}

.rating-area .tag li {
  padding: 5px 2px;
}
.rating-area .tag li span {
  color: #363432;
}


.socials-share {
  margin-bottom: 30px;
  margin-top: 18px;
}


.commnets
.media-object {
  margin-right: 15px;
  width: 100%;
}

.commnets {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 50px
}

.commnets .pull-left {
  margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
  font-size: 12px
}

.media-heading {
  color: #363432;
  font-size: 14px;
  font-weight: 700;
  
  margin-bottom: 15px
}

.blog-socials {
  margin-bottom: -9px;
  margin-top: 14px;
}

.blog-socials ul {
  padding-left: 0;
  overflow: hidden;
  float: left;
}

.blog-socials .btn.btn-primary{
  margin-top: 0;
}

.blog-socials ul li {

  float: left;
  height: 17px;
  margin-right: 5px;
  text-align: center;
  width: 17px;
}


.blog-socials ul li a {
  color: #393B3B;
  display: block;
  font-size: 10px;
  padding: 1px;
  background:white;
}

.blog-socials ul li a:hover {
  color: #fff;
  background:rgb(14, 140, 228)
}


.media-list .btn-primary,
.commnets .btn-primary {
  background:#FC9A11;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  float: left;
  font-size: 10px;
  padding: 1px 7px;
  text-transform: uppercase;
}

.response-area h2 {
  color: #363432;
  font-size: 20px;
  font-weight: 700;
}

.response-area .media {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 27px
}

.response-area .media img{
  height: 102px;
  width: 100%;
}

.response-area .media .pull-left {
  margin-right: 25px
}

.response-area .second-media {
  margin-left: 5%;
  width: 95%;
}


.sinlge-post-meta {
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px
}



.sinlge-post-meta li {
  background:white;
  color: #363432;
  float: left;
  font-size: 10px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.sinlge-post-meta li i {
  background:rgb(14, 140, 228);
  color: #FFFFFF;
  margin-right: 10px;
  padding: 8px 10px;
}

.sinlge-post-meta li i:after {
  top: 7px;
  border-width: 6px;
  left: 27px;
}


.replay-box {
  margin-bottom: 107px;
  margin-top: 55px;
}

.replay-box h2 {
  font-weight: 700;
  font-size: 20px;
  color: #363432;
  margin-top: 0;
  margin-bottom: 45px
}

.replay-box label {
  background:rgb(14, 140, 228);
  color: #FFFFFF;
  margin-bottom: 15px;
  padding: 3px 15px;
  float: left;
  font-weight: 400;
}

.replay-box span {
  color: rgb(14, 140, 228);
  float: right;
  font-weight: 700;
  margin-top: 21px;
}

.replay-box form input {
  border: 1px solid #F7F7F0;
  color: #ADB2B2;
  font-size: 12px;
  margin-bottom: 22px;
  padding: 8px;
  width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
  border: 1px solid rgb(14, 140, 228);
}

.text-area {
  margin-top: 66px
}

.text-area textarea {
  background: transparent;
  border: 1px solid#F7F7F0
}

.btn.btn-primary {
  background:rgb(14, 140, 228);
  border: 0 none;
  border-radius: 0;
  margin-top: 16px;
}

.blank-arrow {
  position: relative;
}

.blank-arrow label:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 8px;
  border-color:rgb(14, 140, 228) transparent transparent transparent;
  top: 25px;
  left: 5px
}

/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading,
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact-page .form-control:focus,
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #0e8ce4;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: rgb(14, 140, 228);
}

.locale .dropdown-menu{
    min-width: auto !important;
}
.locale button{
    min-height: 30px !important;
}

.cart-qty{
  position: absolute;
    right: -20px;
    top: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    background: rgb(14, 140, 228);
    color: #FFF;
    border-radius: 50%;
    z-index: 99;
}
#cart-alert{
  position: fixed;
  top: 5px;
  right: 0px;
  text-align: center;
  z-index: 999999 !important;
}
.cart-alert{
  text-align: center;
  padding: 10px;
  -webkit-transition: width 2s;
  transition: width 2s;
  z-index: 999999 !important;
  border-radius: 0px 0px 0px 2px;
  line-height: 30px;
  padding: 0 5px;
}
li > a{
  cursor: pointer;
}
.products-lasView img{
  max-width: 100%;
  max-height: 100px;
}
.products-lasView .last-view{
    font-style: italic;
    color: #bf521b;
    font-size: 12px;
    display: block;
}
#breadcrumb{
    z-index: 99;
    position: relative;
    bottom: 4em;
}
.item-folder{
    border-bottom: 2px solid #d8cfcf;
    margin-bottom: 5px;
    text-align: center;
}
.item-folder-wrapper{
    border: 1px solid #F7F7F5;
    overflow: hidden;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.container {
  width: 90% !important;
}

.rating-links {
  margin: 0 0 12px;
  line-height: 20px;
  overflow: hidden;
  clear: both;
}

.description {
  margin: 1.25rem 0;
}

.origin h1, .origin h2, .origin h3, .origin h4, .origin h5, .origin h6, .origin .h1, .origin .h2, .origin .h3, .origin .h4, .origin .h5, .origin .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.1 !important;
  color: inherit;
}
.origin h1, .origin .h1 {
  font-size: 36px !important;
}
.origin h2, .origin .h2 {
  font-size: 30px !important;
}
.origin h3, .origin .h3 {
  font-size: 24px !important;
}
.origin h4, .origin .h4 {
  font-size: 18px !important;
}
.origin h5, .origin .h5 {
  font-size: 14px !important;
}
.origin h6, .origin .h6 {
  font-size: 12px !important;
}

.edit-review-mark i {
  color: darkgrey;
  cursor: pointer;
}

.edit-review-mark i.active {
  color: orange;
}

.edit-review-mark i.focus {
  color: bisque;
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.review-container {
  margin: 3rem 0;
}

img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.review-container .avatar {
  margin-bottom: -18px;
  margin-right: 5px;
}

.review-container strong {
  font-weight: bold;
  font-size: 18px;
}

section {
  width: 100%;
}

ul.blog-posts li.post-item {
  list-style-type: none !important;
}

.post-item img {
  max-width: 100%;
  max-height: 150px;
}

.entry-thumb {
  text-align: center;
}

.ckeditor-content p, .ckeditor-content div {
  width: 100%;
}

.pull-right {
  width: auto;
}

.pull-left {
  width: auto;
}

.slick-next:before, .slick-prev:before {
  color: rgb(14, 140, 228) !important;
}

.question {
  font-size: 18px;
  font-weight: 500;
}

.answer-container {
  font-size: 16px;
  padding: 10px 20px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(123, 93, 235);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(123, 93, 235);
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.v-center {
  display: flex;
  align-items: center;
}
.modal-lg {
  width: 40%;
}
.modal-body .row {
  margin: 0;
}
@media (min-width: 992) {
  .modal-lg { width: 50%; }
}
@media (min-width: 768) {
  .modal-lg { width: 60%; }
}

button.close {
  z-index: 1;
}

.linkable {
  cursor: pointer;
}
.linkable:hover {
  color: rgb(70, 170, 250);
}

.answer-ul {
  display: block;
  list-style-type: disc;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
}

.answer-ul li {
  margin: 5px 0;
  padding: 5px;
}

.answer-ul .selected {
  background-color: skyblue;
  color: black;
}

.no-margin {
  margin: 0;
}

.statistic-question {
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

.statistic-question.clickable {
  cursor: pointer;
}

.statistic-question.clickable:hover {
  color: #0e8ce4;
}

.statistic-question.clicked{
  background: gold;
  color: #0e8ce4;
}

.btn-network {
  background-color: rgb(112, 48, 160);
  border-color: rgb(112, 48, 160);
  color: white;
}

.btn-network:hover {
  background-color: rgb(132, 59, 187);
  border-color: rgb(132, 59, 187);
  color: white;
}

.btn-feedback {
  background-color: rgb(199, 4, 204);
  border-color: rgb(199, 4, 204);
  color: white;
}

.btn-feedback:hover {
  background-color: rgb(211, 18, 214);
  border-color: rgb(211, 18, 214);
  color: white;
}

.btn-tour {
  background-color: rgb(220, 220, 0);
  border-color: rgb(220, 220, 0);
}

.btn-tour:hover {
  background-color: rgb(250, 250, 0);
  border-color: rgb(250, 250, 0);
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.report {
  background: white;
  width: 842px;
  padding: 50px 20px;
  margin: auto;
  overflow: auto;
}

.report table, .report th {
  text-align: center;
}
.report .table-header {
  background-color: rgb(59, 78, 135);
  color: white;
  padding: 10px;
}

.report .total {
  background-color: rgb(167, 174, 212);
  font-weight: 400;
}

.report .total-column {
  background-color: rgb(242, 242, 242);
}

.report .comment {
  background-color: rgb(191, 191, 191);
  color: rgb(91, 6, 0);
  padding: 10px;
}

.report .property {
  border: 1px solid; 
  width: 100px; 
  text-align: center; 
  display: inline-block;
  padding: 5px;
}

.terms-condition p {
  margin: 0 0 20px;
}

.u-radio input[type="radio"] {
  display: none; }

.u-radio label {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  cursor: pointer; }
  .u-radio label:after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background: url(/images/radio_ic01.png) center no-repeat;
    background-size: cover; }

.u-radio input[type="radio"]:checked + label:after {
  background: url(/images/radio_ic02.png) center no-repeat;
  background-size: cover; }

.marketing_email {
  clear: both;
  display: block;
}
.marketing_emailgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-404-error {
    margin: auto;
    display: block;
    font-weight: 500;
    color: #fff;
    background-color: #28ace2;
    font-size: 1.5em;
    text-decoration: none;
    border: 3px solid #28ace2;
    padding: 5px;
    border-radius: 20px;
    width: 12em;
}

.button-404-error:hover {
    background-color: #4fb74a;
    color: #ffffff;
    border: 3px solid #4fb74a;
}

div.footer-bottom p {
  margin: auto;
}
			
div.contact-info {
	margin-top: 1.5em
}		
				
h2.title.social {
  color: #fff;
  font-weight: 500;
  text-align: left;
  margin-left: 0px;
}

div.social-networks {
  text-align: left;
}

div#contact-page {
  padding-right: 0px;
  padding-left: 0px;
}

div.contact-form {
  margin: 2em auto;
}

input.cform-submit {
    position: relative;
    left: 36%;
    border-radius: 10px !important;
    width: 28%;
	font-weight: bold;
	transition: .2s;
}

input.cform-submit:hover {
  color: #fff;
  background-color: #84b848;
}

#contact-page .form-control {
	border: 1px solid #aaa0a0;
}

.nav-justified>li {
  display: table-cell;
  width: 1%;
}